BACKEND_URL=
DATABASE_URL=
ENCRYPTION_KEY=
FRONTEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
JWT_SECRET=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=
VITE_API_BASE_URL=
VITE_API_URL=